body {
    font-family: 'Arial', sans-serif;
}

.company-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
}

.company-details {
    font-size: 16px;
}

.form-group {
    margin-bottom: 20px;
}
.form-group input[type="text"] {
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
padding: 10px; 
border-radius: 5px; 
}

.form-group input[type="text"]:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.col-md-2 img {
    width: 100%;
    height: auto;
}

.dropdown-container {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 20px; 
}
.dropdown-container select {
-webkit-appearance: none; 
-moz-appearance: none; 
appearance: none; 
padding: 7px; 
border-radius: 5px; 
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-container select:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


    .hidden {
        display: none;
    }

.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-dropdown select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: url('./pluss.png') no-repeat;
    background-position: right 8px center;
    background-color: rgb(255, 255, 255);
    background-size: 16px;
    cursor: pointer;
}
.section-separator {
    border-top: 1px solid #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.h3font {
font-size: 1rem; 
font-weight: bold;
color: #9b9b9b; 
margin-bottom: 15px; 
text-transform: uppercase; 
letter-spacing: 1px; 
}

    .service-job-list option {
        padding: 5px;
        border-top: 1px solid black;
    }




